<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">
	
<!-- 배너 추가 -->
	<insert id ="insert" parameterType = "bannerVO">
		insert into tbl_banner (banner_title, banner_date, banner_date_end, file_name, banner_url) 
		values (#{bannerTitle},#{bannerDate},#{bannerDateEnd},#{fileName},#{bannerUrl})
	</insert>
	
<!-- 배너 조회 -->
 	<select id = "selectAll" resultType = "bannerVO">
		select * from tbl_banner order by banner_number desc
	</select> 
	
<!-- 배너 삭제 -->
	<delete id="bannerDelete" parameterType = "_int">
		delete from tbl_banner where banner_number = #{bannerNumber}	
	</delete>
	
	
<!-- 사용자 관리 -->	
	<!-- 유저넘버 조회 -->
	<select id="userNumberSelect" resultType = "_int">
		select count(user_id) from tbl_user
	</select>
	
	<!-- 유저 테이블 전체 조회 -->
	<select id="userSelect" resultType = "userVO" >
		select  user_number,user_nickname,user_id,user_date from tbl_user order by user_date desc ;
	</select>
	
	<!-- 프로젝트 게시글 수 -->
	<select id="projectSelect" parameterType = "_int" resultType = "_int" >
		select count(board_number) from tbl_board where user_number =#{userNumber} and board_category ="프로젝트";
	</select>
	<!-- 스터디 게시글 수 -->
	<select id="studySelect" parameterType = "_int" resultType = "_int" >
		select count(board_number) from tbl_board where user_number =#{userNumber} and board_category ="스터디";
	</select>
	<!-- 게시글 총 갯수 -->
	<select id="countSelect" parameterType = "_int" resultType = "_int">
		select count(board_number) from tbl_board where user_number = #{userNumber}
	</select>
	<!-- 댓글 총 갯수 -->
	<select id="replySelect" parameterType="_int" resultType = "_int" >
		select count(board_reply_number) from tbl_board_reply where user_number = #{userNumber};
	</select>
	<!-- 문의 총 갯수 -->
	<select id="inquirySelect" parameterType="_int" resultType = "_int" >
		select count(inquiry_number) from tbl_inquiry where user_number = #{userNumber};
	</select>
	<!-- 삭제 -->
	<delete id="memberDelete" parameterType ="string">
		delete from tbl_user where user_id = #{userId}
	</delete>
	
	
	
<!-- 회사관리 -->
	<!-- 회사 테이블 전체 조회 -->
	<select id="companySelect"  resultType = "companyVO" >
		select company_number,company_file,company_name,company_content,company_url from tbl_company 
	</select>
	
	
	<!-- 회사 삭제 -->
	<delete id="companyDelete" parameterType = "string">
		delete from tbl_company where company_name = #{companyName}
	</delete>
	
	<!-- 회사 관련 게시물 -->
	<select id = "companyBoard" parameterType = "string" resultType = "_int">
		select count(board_company) from tbl_board where board_company = #{boardCompany};
	</select>
	
	<!-- 전체 회사 -->
	<select id="companyAll" resultType = "_int">
		select count(company_number) from tbl_company
	</select>
	
	<!-- 회사 추가 -->
	<insert id = "companyInsert" parameterType = "companyVO">
		insert into tbl_company (company_name,company_url,company_content,company_number) 
		values (#{companyName},#{companyUrl},#{companyContent},#{companyNumber})
	</insert>
	
<!-- 게시물 관리 -->
	<!-- 게시물 전체 갯수 조회 -->
		<select id="contentAll" resultType = "_int">
			select count(board_number) from tbl_board;
		</select>
		
	<!-- 게시물 전체 조회-->
		<select id="contentAllList" resultType = "boardVO">
			select * from tbl_board;
		</select>
		
	<!-- 게시물 조회 -->
	<select id="contentSelect" resultType="contentDTO">
		select b.board_title, b.board_category, b.board_date, b.board_views, b.board_number, u.user_nickname,u.user_number 
		from tbl_user u join tbl_board b on u.user_number = b.user_number
	</select>
	
	<!-- 게시물 삭제 -->
	<delete id="contentDelete" parameterType = "_int">
		delete from tbl_board where board_number = #{boardNumber}
	</delete>
	
<!-- 댓글 관리 -->
	<!-- 댓글 조회 -->
	<select id = "adminReplySelect" parameterType = "replyDTO" resultType = "replyDTO">
		select board_reply_content,board_title,board_date , user_nickname ,board_reply_number ,board_reply_date
		from tbl_board_reply a , tbl_user b  , tbl_board c
 		where a.user_number = b.user_number 
  		and  a.board_number = c.board_number order by board_date desc
  	</select>
	
  	<!-- 댓글 전체 조회 -->
  	<select id = "replyAllCount" resultType = "_int">
  		select count(*)
		from tbl_board_reply a,tbl_user b,tbl_board c 
		where a.user_number = b.user_number 
  		and  a.board_number = c.board_number
  	</select>
  	
  	<!-- 댓글 삭제 -->
  	<delete id="adminReplyDelete" parameterType = "_int">
		delete from tbl_board_reply where board_reply_number = #{boardReplyNumber}
	</delete>
	
<!-- 공지사항 등록 -->
	<insert id = "noticeInsert" parameterType = "communityVO">
		insert into tbl_community (community_title, community_content, community_date,community_file)
		values(#{communityTitle},#{communityContent}, #{communityDate},#{communityFile});
	</insert>
	
<!-- 문의글 -->
	<!-- 문의글 조회 -->
	<select id = "inquiryList" resultType = "inquiryDTO">
		select  i.inquiry_content,u.user_nickname,i.inquiry_date,i.inquiry_status,i.inquiry_number
		from tbl_inquiry i join tbl_user u on i.user_number = u.user_number order by inquiry_date desc;
	</select>
	
	<!-- 문의글 전체 조회 -->
	<select id = "inquiryAll" resultType = "_int">
		select count(*)  
		from tbl_inquiry i join tbl_user u on i.user_number = u.user_number ;
	</select>
	
	<!-- 문의글 삭제 -->
	<delete id="inquiryDelete" parameterType = "_int">
		delete from tbl_inquiry where inquiry_number = #{inquiryNumber}
	</delete>
	
	<!-- 문의글 수정 -->
	<update id = "update" parameterType = "inquiryDTO">
		update tbl_inquiry set inquiry_content = #{inquiryContent}
		where inquiry_number = #{inquiryNumber}
	</update>
</mapper>





















