<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Alarm">

			<!-- 문의 하기 답변 완료 알림함   -->
	<select id="alarmSelect" resultType="alarmVO" parameterType="_int"	>
		select a.alarm_number, a.alarm_status, ti.inquiry_number   
		from tbl_alarm a join tbl_inquiry ti on a.inquiry_number = ti.inquiry_number 
		where a.user_number = #{userNumber}
	</select>
	
	
			<!-- 직계 함수 읽지않은 메세지 카운트 -->
		<select id="countAlarm" parameterType="_int" resultType="_int">
      select count(alarm_number)
       from tbl_alarm	 
     
   </select>
		
		<!-- 전체 공지사항 메세지   -->
		
	
</mapper>





















