<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">

	<select id="selectAll" resultType="boardVO">
		select (board_title, board_content, board_category, board_way, board_recruit_number, board_start_date, board_period, board_contact)
		from tbl_board
	</select>
	
	<insert id="insertBoard" parameterType="boardVO">
		insert into tbl_board (board_title, board_content, board_category, board_way, board_recruit_number, board_start_date, board_period, board_contact)
		values(#{boardTitle}, #{boardContent}, #{boardCategory}, #{boardWay}, #{boardRecruitNumber}, #{boardStartDate}, #{boardPeriod}, #{boardContact})
	</insert>
	
	
</mapper>





















