<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Main">
	

	
	<!-- 메인 모집글 목록 -->
	<select id="selectAllMain" resultType="boardDTO">
		select user_nickname,user_file, board_number, board_title, board_category, board_way, board_recruit_number, board_start_date, board_date, board_period, board_views, board_company
		from tbl_board b join tbl_user u on b.user_number = u.user_number where board_status = 'open' and board_start_date >= curdate() order by board_start_date
	</select>
	
	<!-- 배너 -->
	<select id="selectBanner" resultType="bannerVO">
		select banner_url, file_name
		from tbl_banner where banner_status = 'open'
	</select>
	
	
	
	
	
</mapper>




