<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Search">
	<select id="selectBoard" parameterType="string" resultType="boardDTO">
		select board_number, board_start_date, board_title, board_category, board_way, board_recruit_number, board_period, board_views, user_nickname, user_file 
		from tbl_user u join tbl_board b on u.user_number = b.user_number
		WHERE board_title LIKE CONCAT('%',#{searchContent}, '%')
	
	</select>
</mapper>





















