@charset "UTF-8";

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
    font-family: SpoqaHanSansNeo-Regular;
}

.menubar-pin #base {
    padding-left: 230px;
}

.fold_area {
    height: 50px;
    color: #fff;
    background: #353535;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1003;
    width: 230px;
    border-bottom: 1px solid #49494a;
    padding-left: 24px;
}

.table-cell {
    display: table-cell !important;
    padding-right: 45px;
}

.logo_icon_menu img {
    max-height: 50px;
    max-width: 90px;
}

.logo_icon_menu {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
}

.menubar-pin .brand-holder {
    padding-left: 61px;
    line-height: 38px;
}

.content {
    right: -17px;
}

.adminLogo {
    position: absolute;
    left: 22px;
    top: 0px;
    line-height: 36px;
}

.flex-box {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-box .ma-item {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-bottom: 10px;
}
.card {
    margin-bottom: 10px;
}
.flex-box .ma-item .card {
    height: 100%;
    margin-bottom: 0;
}
.adminMain .area_wrap {
    margin: 24px -10px 0;
}
.adminMain .section-body {
    width: calc(100% - 0px);
    margin-top: 0;
}
.right-menu-fixed {
    position : static;
    margin-top: 0;
}
.section-body .row {
    margin-left: 5px;
    margin-right: 5px;
}
.section-body .col-xs-1,.section-body .col-sm-1,.section-body .col-md-1,.section-body .col-lg-1,.section-body .col-xs-2,.section-body .col-sm-2,.section-body .col-md-2,.section-body .col-lg-2,.section-body .col-xs-3,.section-body .col-sm-3,.section-body .col-md-3,.section-body .col-lg-3,.section-body .col-xs-4,.section-body .col-sm-4,.section-body .col-md-4,.section-body .col-lg-4,.section-body .col-xs-5,.section-body .col-sm-5,.section-body .col-md-5,.section-body .col-lg-5,.section-body .col-xs-6,.section-body .col-sm-6,.section-body .col-md-6,.section-body .col-lg-6,.section-body .col-xs-7,.section-body .col-sm-7,.section-body .col-md-7,.section-body  .col-lg-7,.section-body .col-xs-8,.section-body .col-sm-8,.section-body .col-md-8,.section-body .col-lg-8,.section-body .col-xs-9,.section-body .col-sm-9,.section-body .col-md-9, .section-body .col-lg-9,.section-body .col-xs-10,.section-body .col-sm-10,.section-body .col-md-10,.section-body .col-lg-10,.section-body .col-xs-11,.section-body .col-sm-11,.section-body .col-md-11,.section-body .col-lg-11,.section-body .col-xs-12,.section-body .col-sm-12,.section-body .col-md-12,.section-body .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}
.section-body .row:last-child .ma-item {
    margin-bottom: 0;
}
.item .dashboard_banner_wrap .card-body {
    padding: 20px 24px 34px;
}
.item .dashboard_banner_wrap.shinhan a {
    display: block;
    height: 90px;
    width: 100%;
}
.item .dashboard_banner_wrap.shinhan .card-wrap {
    max-width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    background: linear-gradient(90deg, #B8D8F9 57.33%, rgba(184, 216, 249, 0) 100%);
}
.item .dashboard_banner_wrap.shinhan .card-header {
    padding: 0 10px;
}
.item .dashboard_banner_wrap.shinhan .card-body {
    padding: 0 10px;
    max-width: calc(100% - 40px);
    font-size: 12px;
    line-height: 14.4px;
}
.item .dashboard_banner_wrap.shinhan .card-body .shinhan-title {
    font-size: 14px;
    margin-bottom: 5px;
}
.item .dashboard_banner_wrap.shinhan .card-footer {
    padding: 0 10px;
    max-width: calc(100% - 40px);
}
.item .dashboard_banner_wrap.shinhan .card-footer .shinhan-footer {
    display: inline-block;
    font-size: 10px;
    transform: scale(0.7);
    white-space: nowrap;
    transform-origin: left bottom;
}
.dashboard_banner_wrap .sellmate-body{
    position: relative;
    top: -8px;
}

.gui-icon i:first-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 3px;
    bottom: 0;
    margin: auto;
    line-height: 39px;
    width: 1em;
}


@media (max-width: 1280px) {
    .booking-order ul.inline-blocked {
        position: static;
        line-height: 30px;
    }
    .dashboard_main .section-body {
        width: 100%;
    }
    .right-menu-fixed {
        position: static;
        width: 100%;
        margin-top: 0;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
    }
    .right-menu-fixed > div:nth-child(2) {
        order: 4;
    }
    .right-menu-fixed > div:nth-child(3) {
        order: 3;
    }
    .right-menu-fixed > div:last-child {
        order: 2;
    }
}
@media (max-width: 992px) {
    section {
        padding: 24px 15px;
    }
    .flex-box {
        flex-wrap: wrap;
    }
    .flex-box .ma-item {
        -ms-flex:  none;
        -webkit-flex:  none;
        flex: none;
        width: 100%;
    }
    .right-menu-fixed {
        padding: 0 10px;
    }
    .dashboard_banner_wrap {
        background-size: 300px !important;
        background-position: top right !important;
    }
    .dashboard_banner_wrap.adbot{
        background-size: 300px !important;
        background-position: 50% 50% !important;
        background-color: #20202D !important;
    }
    .dashboard_banner_wrap.kakaosync {
        background-color: #FFDA00 !important;
    }
    .dashboard_banner_wrap.sellmate-promotion{
        background-size: 100% !important;
    }
    #dashboard_banner_wrap_naver{
        background-color: #03cf5d !important;
    }
    .dashboard_banner_wrap .sellmate-body{
        position: relative;
        top: -10px;
    }
}
@media (max-width: 768px) {
    .flex-box {
        display: block;
    }
    .section-body .row:last-child .ma-item {
        margin-bottom: 10px;
    }
    .adminMain .section-body .card-body.today-table {
        padding: 16px;
    }
    .adminMain .area_wrap .float_r {
        float: right;
    }
}

.card-head header {
    display: inline-block;
    padding: 8px 24px !important;
    vertical-align: middle;
    line-height: 2.5 !important;
    font-size: 14px;
}

.menubar-pin .gui-controls > li.active:not(.gui-folder) > a {
    background-color: #292929;
}

.pageCount {
    margin-right: 15px;
}

small>em{
    margin: 0 8px;
}

#sum{
	 filter: blur(5px);
    -webkit-filter: blur(5px);
}

#ready{
	position:absolute;
	left:50px;
	
}