@charset "UTF-8";


font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
.spoka *


font-face{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 


}



body {
    font-family: "SpoqaHanSansNeo-Regular";
    font-weight: normal;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
}

li{
    font-family: inherit;
    text-align: -webkit-match-parent;
    margin: 0;
    padding: 0;
}

.category li{
    letter-spacing: -2px;
}



*{
    box-sizing: inherit;
}

section{
    display: block;
}

.filter{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 104px auto;
}

.category{
    display: flex;
    grid-gap: 50px;
    gap: 50px;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 20px;
    padding-left: 16px;
    margin-bottom: 30px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.active{
    color: #333;
}
.inactive{
    color: #848484;
}

.categoryItem{
    display: flex;
    font-weight: 700;
    font-size: 26px;
    line-height: 126.5%;
    cursor: pointer;
    position: relative;
}

.language{
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 15px;
    gap: 15px;
    margin-bottom: 40px;
}

.languageBar{
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    align-items: center;
    border: 1px solid #d0d0d0;
    border-radius: 100px;
    padding: 12px 20px 12px 15px;
    transition: all .1s ease-in;
    cursor: pointer;
}

.languageBar img{
    width: 36px;
    height: 36px;
}

.languageBar span{
    font-weight: bold;
    font-family: "SpoqaHanSansNeo";
}

.Topbutton{
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 4.5rem;
    height: 4.5rem;
}


.Topbutton img{
    width: 100%;
    cursor: pointer;
}

.Inquery{
    position: fixed;
    right: 1.5rem;
    bottom: 6.5rem;
    width: 4.5rem;
    height: 4.5rem;
}

.Inquery img{
    width: 100%;
    cursor: pointer;
}

.active:after {
    content: "";
    position: absolute;
    height: 5px;
    width: calc(100% + 26px);
    background: #ffe579;
    left: -13px;
    bottom: -22px;
}
