@charset "utf-8";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    background-color: #E3DDD8;

    position: relative;
}

.content>h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 20em;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);

}
.swiper-slide{
    background-color: inherit;
}
.content:nth-child(2) {
    background-color: #F1F1F1;
}

.content:nth-child(3) {
    background-color: #AEBDCA;
}

.content:nth-child(4) {
    background-color: #090d00;
    color: rgba(255, 255, 255, .25);
    text-align: center;
    margin: 0;
    font: 400 1em/1.5;
}

.page4_ptag {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border: 4px double rgba(255, 255, 255, .25);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: absolute;
    top: 33%;
    left: 32%;
    width: 82em;
    margin: 0 0 0 -20em;
    cursor: pointer;
}

.page4_span {
    font: 700 8em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */

    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.introduceContent {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1%;

}

.introduceSub {
    background-color: white;
    /* background-color: #24054a; */
    height: 5px;
}

.introduce_left_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 35%;
    width: 35%;
    padding-right: 60px;
}

.introduce_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
    width: 70%;
    padding-right: 60px;

}

.introduce_middle_text_page2 {
    text-align: center;
}

.introduce_middle_text h1 {
    font-size: 56px;
}

.introduce_middle_text h2 {
    font-size: 24px;
}

.introduce_right_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    float: right;
    width: 35%;
    max-width: 35%;
    height: 100%;
}


.introduce_right_section img {
    width: 100%;
    height: 60%;
}

.introduce_left_section img {
    width: 100%;
    height: 100%;
}

.middle_title {
    border-width: 0;
    color: #1A1A1A;
    padding: 0;
    float: left;
    font-size: 24px;
    font-weight: 700;
    line-height: 2.625rem;

}

.introduceContentSpanTitle {
    font-size: 58px;
}

.introduceContentSpanTitle2 {
    font-size: 23px;
}

.text-slide {
	    margin-top: 11px;
    margin-bottom: 74px;
    will-change: transform;
    transition-property: transform;
    transition-duration: 0.8s;
}

.delay-0 {
    transition-delay: 0.5s;
}

.section.active:not(.not-ready) .text-slide span,
.section.active:not(.not-ready) .text-slide h2,
.section.active:not(.not-ready) .text-slide img {
    transform: translateY(0);
}

.bannerWrapper {
    margin: 0 auto;
    width: 900px;
    height: 600px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
	background-color : inherit;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.css-1q3r5bv {
    font-family: inherit;
    font-size: 0.8125rem;
    color: #666666;
    margin: 10px;
    line-height: 1.325rem;
}

.css-1pxgmwj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 2% 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.css-icvh55 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1344px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.css-15zhte1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.css-sosrl8 {
    border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-size: 58px;
    font-weight: 700;
    line-height: 2.25rem;
    margin-bottom: 10px;
}

.css-1ogj08o {
    width: 0;
    height: 8px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.css-zsoya5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.css-zsoya5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.css-14zcvlt {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    background-color: #F8F8F8;
    width: 100%;
    height: 1px;
}

.css-1jlqepv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    cursor: pointer;
    background-color: inherit;
}

.css-4qhik {
    border-width: 0;
    color: #0c0c0c;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
    text-align: left;
}

.css-tssdpg {
    margin-left: auto;
    padding-left: 16px;
}

.css-8ciuji {
    display: block;
    width: 16px;
    height: 16px;
}

.css-1ryjcci {
    display: block;
    width: 100%;
    height: 100%;
    fill: #5b5b5b;
    transform: rotate(0deg);
}

.css-12n2iw5 {
    fill: #5b5b5b;
}

.css-22b2qv {
    /* display: flex; */
    display: none;
    padding-left: 24px;
    padding-bottom: 32px;
    margin-top: 5px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.active {
    font-weight: bold;
}

.inactive {
    font-weight: 400;
}

.introduce_category {
    display: flex;
    border-bottom: 3px solid #f2f2f2;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
    width: 900px;
    transform: translateX(231px);
}

.introduce_category li {
    width: 25%;
}

.introduce_categoryItem {
    display: flex;
    font-size: 20px;
    line-height: 126.5%;
    cursor: pointer;
    position: relative;
    justify-content: center;
}

.css-1aqhgee {
    border-width: 0px;
    color: rgb(102, 102, 102);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.TitleEnd {
    cursor: pointer;
}

.introduce_categoryItem:after{
	 content: "";
    position: absolute;
    height: 2px;
    width: calc(100%);
    background: #B7B7B7;
    left: -13px;
    bottom: -20px;
}
.active:after {
    content: "";
    position: absolute;
    height: 5px;
    width: calc(100%);
    background: black;
    left: -13px;
    bottom: -22px;
}