<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>cosmosProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
<servlet>
     <servlet-name>UserFrontController</servlet-name>
     <servlet-class>com.cosmos.app.user.UserFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>UserFrontController</servlet-name>
     <url-pattern>*.us</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>BoardFrontController</servlet-name>
     <servlet-class>com.cosmos.app.board.BoardFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>BoardFrontController</servlet-name>
     <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
     <servlet-name>InqueryFrontController</servlet-name>
     <servlet-class>com.cosmos.app.inquery.InqueryFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>InqueryFrontController</servlet-name>
     <url-pattern>*.in</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>MainFrontController</servlet-name>
     <servlet-class>com.cosmos.app.main.MainFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>MainFrontController</servlet-name>
     <url-pattern>*.ma</url-pattern>
  </servlet-mapping>
  
  
  
  
  
</web-app>