<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.cosmos.app.board.vo.BoardVO" alias="boardVO"/>
		<typeAlias type="com.cosmos.app.board.vo.BoardDTO" alias="boardDTO"/>
		<typeAlias type="com.cosmos.app.board.vo.BoardReplyVO" alias="boardReplyVO"/>
		<typeAlias type="com.cosmos.app.board.vo.BoardSkillVO" alias="boardSkillVO"/>
		<typeAlias type="com.cosmos.app.board.vo.SupporterVO" alias="supporterVO"/>
		<typeAlias type="com.cosmos.app.community.vo.CommunityVO" alias="communityVO"/>
		<typeAlias type="com.cosmos.app.community.vo.CommunityDTO" alias="communityDTO"/>
		<typeAlias type="com.cosmos.app.community.vo.CommunityReplyVO" alias="communityReplyVO"/>
		<typeAlias type="com.cosmos.app.community.vo.FileVO" alias="fileVO"/>
		<typeAlias type="com.cosmos.app.inquiry.vo.InquiryVO" alias="inquiryVO"/>
		<typeAlias type="com.cosmos.app.inquiry.vo.InquiryDTO" alias="inquiryDTO"/>
		<typeAlias type="com.cosmos.app.main.vo.AlarmVO" alias="alarmVO"/>
		<typeAlias type="com.cosmos.app.main.vo.BannerVO" alias="bannerVO"/>
		<typeAlias type="com.cosmos.app.user.vo.CompanyVO" alias="companyVO"/>
		<typeAlias type="com.cosmos.app.user.vo.FriendVO" alias="friendVO"/>
		<typeAlias type="com.cosmos.app.user.vo.SkillVO" alias="skillVO"/>
		<typeAlias type="com.cosmos.app.user.vo.UserCanSkillVO" alias="userCanSkillVO"/>
		<typeAlias type="com.cosmos.app.user.vo.UserCompanyVO" alias="userCompanyVO"/>
		<typeAlias type="com.cosmos.app.user.vo.UserInterestSkillVO" alias="userInterestSkillVO"/>
		<typeAlias type="com.cosmos.app.user.vo.UserVO" alias="userVO"/>
		<typeAlias type="com.cosmos.app.admin.vo.AdminDTO" alias="adminDTO"/>
		<typeAlias type="com.cosmos.app.admin.vo.ContentDTO" alias="contentDTO"/>
		<typeAlias type="com.cosmos.app.admin.vo.ReplyDTO" alias="replyDTO"/>
	</typeAliases>

	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/cosmos"/> <!-- 테이블 use -->
				<property name="username" value="root"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/cosmos/mybatis/mapper/UserMapper.xml"/>
		<mapper resource="com/cosmos/mybatis/mapper/MainMapper.xml"/>
		<mapper resource="com/cosmos/mybatis/mapper/CommunityMapper.xml"/>
		<mapper resource="com/cosmos/mybatis/mapper/BoardMapper.xml"/>
		<mapper resource="com/cosmos/mybatis/mapper/InquiryMapper.xml"/>
		<mapper resource="com/cosmos/mybatis/mapper/AdminMapper.xml"/>
		<mapper resource="com/cosmos/mybatis/mapper/SearchMapper.xml"/>
		<mapper resource="com/cosmos/mybatis/mapper/AlarmMapper.xml"/>
	</mappers>
	
</configuration>